header{
	margin: 0 auto;
	background-image: url("../img/topimgbackground.png");
	background-size: cover;
}
a{
	color: white;
	text-decoration: none;
}
.container{
	padding: 30px;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.5);
}

nav{

}
body{
	margin: 0;
	font-size: 18px;
	color: white;
	font-family: font-family: 'Noto Sans JP', sans-serif;;
}
.centext{
	text-align: center;
	padding-top: 9rem;
	padding-bottom: 9rem;
	background-color: rgba(0, 0, 0, 0.35);
}
.button{
		float: right;
}
.logo{
	font-size: 2rem;
	font-weight: bold;
}
.bborder a{
	border: solid;
	padding: 0.7rem 0.7rem;
	border-radius: 7rem;
	transition: all 0.5s;
}
.bborder {
	text-align: center;
	margin-top: 40px;
}
.bborder a:hover {
	background-color: rgba(1, 1, 1, 0.5);
}
.col {
	margin-right: 5%;

	width: 30%;
	float: left;
	color: black;

}
.col:last-child{
	margin-right: 0;
}
.col img{
	display: block;
	margin: auto;
}
.col h3{
	text-align: center;
	font-size: 1rem;
}
.col p{
	text-align: center;
	font-size: 1rem	;
	line-height: 0.8rem;

}
#info{
	margin-top: 3rem;
}
.info{
}